// FOR LOGIN / SIGNUP TESTING PURPOSES ONLY
.auth-form {
  max-width: 36rem;
  margin: 6rem auto;
  padding: 4rem;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;

  &__label {
    display: block;
    margin: 2.4rem auto;
  }

  &__span {
    display: block;
    margin-bottom: 6px;
  }

  &__input,
  &__textarea {
    padding: 8px 6px;
    font-size: 1.6rem;
    color: #777;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  &__textarea {
    min-height: 16rem;
  }
}
