.btn {
  background: $color-primary;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  color: $bg-color;
  cursor: pointer;
  font-size: 1.6rem;
  border: none;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-0.5rem);
}
