.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 40px auto;

  @include respond(tablet-landscape) {
  }

  @include respond(tablet-phone) {
  }
}
