.restaurant-filter nav {
  display: flex;
  padding: 2.5rem;
  background-color: $color-grey-light-1;
  border-radius: 0.4rem;
  justify-content: space-around;
}
.restaurant-filter p {
  font-size: 0.9rem;
  margin-right: 0.1rem;
}
.restaurant-filter button {
  background: transparent;
  border: 0;
  font-family: "Lato";
  font-weight: bold;
  color: $color-tertiary;
  cursor: pointer;
  font-size: 1.6rem;
}
.restaurant-filter button:last-child {
  border: 0;
}
.restaurant-filter button.active {
  color: $color-primary;
}

.arrow_box {
  transition: all 0.5s;
  background-color: rgba($color-primary, 0.4);
  font-size: 1.6rem;
  border-radius: 50%;
  color: $bg-color;
  cursor: pointer;
}

.arrow_box:hover {
  background-color: $color-primary;
  color: $bg-color;
}
