@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  color: $color-tertiary;
  font-family: "Lato";
  // border: red 2px solid;
}

html {
  // This defines what 1 rem is, in this case it's 62.5% of the original preset 16px. So the new base for 1 rem is 10px.
  font-size: 62.5%;

  @include respond(tablet-landscape) {
    // Width < 1200?
    font-size: 56.25%; // 1 rem is now 9px
  }

  @include respond(tablet-portrait) {
    // Width < 900?
    font-size: 50%; // 1 rem is now 8px
  }

  @include respond(big-desktop) {
    // Width > 1800?
    font-size: 80%; // 1 rem is now 12 pixels
  }
}

body {
  box-sizing: border-box;
  background-color: $bg-color;

  @include respond(tablet-portrait) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $bg-color;
}

.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

.delete {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  filter: invert(60%);
}
