.menu {
  height: 100%;
  width: 100vw;
  margin-top: 9vh;
  transition: all 2s;

  &--list {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &--card {
    position: relative;
    margin-bottom: 4rem;
    cursor: pointer;

    &:hover {
      border: 2px solid $color-primary;
      transform: translateY(-1rem);
    }

    &__price {
      background-color: $bg-color;
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-weight: bold;
    }
  }
}
