@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  color: #3a3335;
  background-color: #fdffff;
  font-family: "Lato"; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #d95d39;
  color: #fdffff; }

.heading-logo {
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  margin-right: auto;
  font-size: 3rem; }
  .heading-logo--orange {
    color: #d95d39; }

.navigation__nav {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  margin-bottom: 40px; }
