@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  color: #3a3335;
  font-family: "Lato";
  text-decoration: none; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box;
  background-color: #fdffff; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #d95d39;
  color: #fdffff; }

.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0; }

.delete--restaurant {
  position: absolute;
  cursor: pointer;
  filter: invert(60%);
  bottom: 9rem;
  right: 1rem; }

.delete--menu-item {
  position: absolute;
  cursor: pointer;
  top: 0.5rem;
  right: 5rem;
  background-color: white;
  border-radius: 50%; }

.heading-logo {
  width: max-content;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  margin-right: auto;
  margin-left: 8rem;
  margin-top: 1.5rem;
  font-size: 3rem;
  display: flex; }
  .heading-logo--tray {
    width: 6rem;
    height: 4rem;
    padding-right: 1rem; }
  .heading-logo--orange {
    color: #d95d39; }

.u-center-text {
  text-align: center !important; }

.u-bold-text {
  font-weight: bold !important; }

.u-display-none {
  display: none; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.home {
  margin-top: 8vh; }
  .home__banner {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to left bottom, rgba(217, 93, 57, 0.76), rgba(217, 93, 57, 0.76)), url(../assets/banner.jpeg);
    background-size: cover;
    background-position: top; }
    .home__banner--header {
      width: 60%;
      font-size: 2.5rem;
      text-align: center;
      color: #fdffff; }
    .home__banner--search {
      flex: 0 0 40%;
      display: flex;
      width: 35%;
      align-items: center;
      justify-content: center; }
      .home__banner--search__input {
        font-family: "Lato";
        font-size: 1.4rem;
        color: inherit;
        background-color: #ccc;
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 100px;
        width: 100%;
        margin-right: -3.25rem;
        transition: all 0.2s; }
        .home__banner--search__input:focus {
          outline: none;
          width: 100%;
          background-color: #f0eeee; }
        .home__banner--search__input::-webkit-input-placeholder {
          font-weight: 100;
          font-family: "Lato";
          color: #333; }
      .home__banner--search__input:focus + .home__banner--search__button {
        transition: all 0.2s;
        background-color: #f0eeee; }
      .home__banner--search__button {
        transition: all 0.2s;
        border: none;
        background-color: #ccc; }
        .home__banner--search__button:focus {
          outline: none; }
        .home__banner--search__button:active {
          transform: translateY(2px); }
      .home__banner--search__icon {
        height: 2rem;
        width: 2rem;
        fill: #333; }

.search {
  height: 100%;
  width: 100vh;
  margin: 5rem;
  margin-top: 9vh; }

.menu {
  height: 100%;
  width: 100vw;
  margin-top: 9vh;
  position: relative; }
  .menu--list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto; }
  .menu--card {
    position: relative;
    margin-bottom: 4rem;
    cursor: pointer; }
    .menu--card:hover {
      transition: all 0.2s;
      border: 2px solid #d95d39;
      transform: translateY(-1rem); }
    .menu--card__price {
      background-color: #fdffff;
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-weight: bold; }
  .menu--banner {
    position: -webkit-sticky;
    position: sticky;
    z-index: 2000;
    bottom: 0;
    background-color: #d95d39;
    width: 100vw;
    height: 100%;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .menu--banner__list {
      list-style: none; }
      .menu--banner__list--item {
        color: #fdffff;
        font-size: 1.25rem; }

.profile {
  width: 100vw;
  height: 100vh;
  margin: 5rem;
  margin-top: 9vh; }

.cart {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .cart--list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto; }
  .cart--delete {
    padding-right: 1rem; }

.orders {
  width: 80vw;
  height: 100%;
  margin: 5rem;
  margin-top: 9vh; }
  .orders--list {
    margin: 5rem; }
  .orders--card {
    position: relative;
    margin-bottom: 4rem; }
    .orders--card__price {
      background-color: #fdffff;
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-weight: bold; }

.auth-background {
  width: 100vw;
  height: 93%;
  position: absolute;
  margin-top: 8vh;
  background-image: linear-gradient(to left bottom, rgba(58, 51, 53, 0.9), rgba(58, 51, 53, 0.9)), url(../assets/background1.jpeg);
  background-size: cover;
  background-position: top; }

.auth-form {
  max-width: 36rem;
  margin: 6rem auto;
  padding: 4rem;
  border: 0.1rem solid #ddd;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.05);
  background: #fff;
  font-size: 1.6rem; }
  .auth-form__label {
    display: block;
    margin: 2.4rem auto; }
  .auth-form__span {
    display: block;
    margin-bottom: 0.6rem; }
  .auth-form__span {
    display: block;
    margin-bottom: 0.6rem; }
  .auth-form__input, .auth-form__textarea {
    padding: 0.8rem 0.6rem;
    color: #777;
    width: 100%;
    box-sizing: border-box;
    border: 0.1rem solid #ddd;
    border-radius: 0.4rem; }
    .auth-form__input:active, .auth-form__input:focus, .auth-form__textarea:active, .auth-form__textarea:focus {
      outline: 0.1rem solid rgba(217, 93, 57, 0.5);
      border: 0.1rem solid rgba(217, 93, 57, 0.5); }
  .auth-form__textarea {
    min-height: 16rem; }
  .auth-form__redirect {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-align: center; }
    .auth-form__redirect--link {
      text-decoration: none;
      color: #d95d39;
      margin-left: 0.5rem; }

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 40px auto; }

.restaurant-filter nav {
  display: flex;
  padding: 2.5rem;
  background-color: #f7f7f7;
  border-radius: 0.4rem;
  justify-content: space-around; }

.restaurant-filter p {
  font-size: 0.9rem;
  margin-right: 0.1rem; }

.restaurant-filter button {
  background: transparent;
  border: 0;
  font-family: "Lato";
  font-weight: bold;
  color: #3a3335;
  cursor: pointer;
  font-size: 1.6rem; }
  .restaurant-filter button:last-child {
    border: 0; }

.restaurant-filter button.active {
  color: #d95d39; }

.arrow_box {
  transition: all 0.5s;
  background-color: #d95d39;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  color: #fdffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .arrow_box svg,
  .arrow_box path {
    color: #fdffff; }

.navigation {
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fdffff;
  z-index: 100;
  display: block; }
  .navigation__nav {
    display: flex;
    gap: 10px;
    background-color: #fdffff;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 2000;
    text-align: center;
    background-color: transparent;
    cursor: pointer; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 0rem;
    left: 0rem;
    opacity: 0.6;
    z-index: 1000; }
    @media only screen and (max-width: 56.25em) {
      .navigation__background {
        top: 5.5rem;
        right: 5.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__background {
        top: 4.5rem;
        right: 4.5rem; } }
  .navigation__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0; }
  .navigation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: flex;
    font-size: 3rem;
    color: #3a3335;
    text-decoration: none;
    background-size: 220%;
    transition: all 0.4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #d95d39;
    transform: translateY(-0.25rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(100);
    background-color: #000; }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 30%; }
    @media only screen and (max-width: 56.25em) {
      .navigation__checkbox:checked ~ .navigation__nav {
        width: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__checkbox:checked ~ .navigation__nav {
        width: 100%; } }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 3px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__bag {
    width: 6rem;
    height: 5rem;
    border-radius: 2.5rem;
    background-color: #d95d39;
    position: absolute;
    right: 3.5rem;
    top: 1.2rem;
    cursor: pointer; }
    .navigation__bag--icon {
      background-color: #d95d39;
      width: 2.5rem;
      margin-top: 0.75rem;
      margin-left: 1.75rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.footer {
  background-color: #3a3335;
  grid-column: full-start / full-end;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-family: "Lato";
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #f7f7f7;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }
